.navbar-nav .nav-item {
  border-left: 1px solid #ccc;
}

button.navbar-toggler {
  border: none;
}

.hero-container {
  height: 100vh;
  padding-top: 8%;
}

.logo-col {
  border-right: 1px solid #ccc;
}

.logo-text {
  font-size: 1.2em;
}

@media screen and (max-width: 576px) {
  .logo {
    width: 150px;
  }

  .logo-col {
    border-right: none;
  }
}

@media screen and (min-width: 768px) {
  .logo-text {
    font-size: 1.5em;
  }
}

.nav-tabs .nav-item .nav-link {
  border: 0;
}

.nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid #333;
}

.carousel-controls span {
  margin: 0.4em;
}

.flex{
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;
  overflow-y: scroll;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
