.navbar-nav .nav-item {
  border-left: 1px solid #ccc;
}

button.navbar-toggler {
  border: none;
}

.hero-container {
  height: 100vh;
  padding-top: 8%;
}

.logo-col {
  border-right: 1px solid #ccc;
}

.logo-text {
  font-size: 1.2em;
}

@media screen and (max-width: 576px) {
  .logo {
    width: 150px;
  }

  .logo-col {
    border-right: none;
  }
}

@media screen and (min-width: 768px) {
  .logo-text {
    font-size: 1.5em;
  }
}

.nav-tabs .nav-item .nav-link {
  border: 0;
}

.nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid #333;
}

.carousel-controls span {
  margin: 0.4em;
}

.more-links-list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100px;
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-around; */
}

.more-links-list li {
  width: 33.3%;
}

.more-links-list li a{
  color: #333;
}

@media screen and (man-width: 576px) {
  .more-links-list li {
    width: 50%;
  }
}
.flag {
  height: 30px;
}

.countries-dropdown .dropdown-toggle::after {
  /* display: none !important;*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.social-links {
  list-style: none;
}

.social-links li i {
  border-radius: 50%;
  background: white;
  color: #343a40;
  padding: 0.5em;
}

.services li{
  list-style-type: none;  
}

.services li a{
  color: white
}
